a {
    color: inherit !important;
}

a:hover {
    color: inherit !important;
}

a:visited {
    color: inherit !important;
}

.outlined {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pad-bottom {
    padding-bottom: 10px;
}

.btn-default {
    background-image: none !important;
}

.addBlock {
    height: 600px;
    width: 300px;
    border: 1px solid  #ddd;
    border-radius: 4px;
    text-align: center;
    vertical-align: center;
    background-color: #f5f5f5;
}